.App {
	text-align: center;
	background-color: white;
}

.link {
	color: blueviolet;
	text-decoration: none;
}
.logo {
	width: 340px;
	height: 340px;
}

h1 {
	font-size: 36px;
}

h2 {
	color: #26b67c;
}

h3 {
	color: crimson;
	font-size: 24px;
}
